<div class="col-lg-12">
  <h1>
    {{title}}
  </h1>
  <form action="">
    <p>
      <label for="">Nombres</label>
      <input type="text" class="form-control">
    </p>
    <p>
      <label for="">Apellidos</label>
      <input type="text" class="form-control">
    </p>
    <p>
      <label for="">Usuario Email</label>
      <input type="text" class="form-control">
    </p>
    <p>
        <label for="">Contraseña</label>
        <input type="text" class="form-control">
      </p>
      <p>
          <label for="">Nickname</label>
          <input type="text" class="form-control">
        </p>
        <p>
            <label for="">Telefono</label>
            <input type="text" class="form-control">
          </p>
          <p>
              <label for="">Edad</label>
              <input type="text" class="form-control">
            </p>

    <input type="submit" value="crear nuevo" class="btn btn-success">
  </form>

</div>
